<% provide(:title, "Home") %>

<div class="home-container">
    <div class="jumbotron">
        <h1>Welcome to not CATME</h1>
        <div>
            <button type="button" class="btn">Log In</button>
            <button type="button" class="btn">Sign Up</button>
        </div>
    </div>
</div>
