<% provide(:title, "Sign Up") %>

<div class="full-container">
    <div class="jumbotron">
        <h1>Sign Up</h1>
        <form>
            <div>
                
            </div>
            <div class="form-group">
                <label for="inputUsername" class="">Username</label>
                <div class="">
                    <input type="text" class="form-control" id="inputUsername">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <div>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>