<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
       <h1>
         <%= @user.name %>
         <% if @user.is_instructor %>
         <%= render 'layouts/test1' %>
         <% else %>
         <%= render 'layouts/test2' %>
          <% end %>
      </h1>
    </section>
  </aside>
</div>