@import "bootstrap-sprockets";
@import "bootstrap";


$main-color: LightCoral;
$hover-color: IndianRed;

body {
  background-color: $main-color;
}

.full-container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  .btn {
    margin-left: 1rem;
  }
}

button, .btn {
    background-color: $main-color;
    color: white;
    border: none;
    
    &:hover {
        background-color: $hover-color;
    }
    &[type="submit"] {
        margin-top: 1em;
    }
}

.btn-link {
    color: $main-color;
    background-color: inherit;
    
    
    &:hover {
        background-color: inherit;
    }
}

.btn-group.special {
    display: flex;
    margin-bottom: 16px;
}

// a {
//     color: $main-color;
//     &:hover {
//         color: $main-color;
//     }
// }

.header {
  margin: 0px;
  padding: 2rem;
  background-color: #EEE;
}

.card {
  color: $main-color;
  background-color: whitesmoke;
}

.card-title {
  margin: 0px;
}

.new-user {
  margin-top: 1rem;
}

.form {
  background-color: whitesmoke;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}


.center h1 {
  margin-bottom: 10px;
}

/* forms */
// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
// }

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
  
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

hr.my-4 { 
  border-color: $main-color;
  margin-top: 1rem;
}