@import "bootstrap-sprockets";
@import "bootstrap";


$main-color: LightCoral;
$hover-color: IndianRed;

body {
  background-color: $main-color;
}

.full-container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  .btn {
    margin-left: 1rem;
  }
}

button, .btn {
    background-color: $main-color;
    color: white;
    border: none;
    
    &:hover {
        background-color: $hover-color;
    }
    &[type="submit"] {
        margin-top: 1em;
    }
}

.add-course {
  background-color: whitesmoke;
  color: $main-color;
  
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.btn-link {
    color: $main-color;
    background-color: inherit;
    
    &:focus {
      border: none;
    }
    
    &:hover {
      background-color: inherit;
      text-decoration: none;
    }
}

.btn-group.special {
    display: flex;
    margin-bottom: 16px;
}

a {
    color: $main-color;
    &:hover {
        color: $main-color;
    }
}

.header {
  margin: 0px;
  padding: 2rem;
  background-color: #EEE;
}

.card {
  color: $main-color;
  background-color: whitesmoke;
}

.card .row {
  display: flex;
  align-items: center;
  
  h1 {
    margin: 0px;
  }
}

.card-title {
  margin: 0px;
}

.course {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.course-title {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.course-collapse {
  font-size: 2vw;
}

.sec-title {
  font-size: 1.5vw;
}

.section-box {
  border: 3px solid $main-color;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.presentation {
  border: 1px solid $main-color;
  padding: 1rem;
  border-radius: 15px;
}

.pres-title {
  font-size: 1vw;
}

@media (min-width: 1000px) {
  .form {
    min-width: 720px;
  }
}

.new-user {
  margin-top: 1rem;
}

.review-box {
  max-width: 720px;
}

#review-card {
  padding: 2rem;
}

.form {
  background-color: whitesmoke;
}

section {
  overflow: auto;
}

.margin-top {
  margin-top: 1rem;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}


.center h1 {
  margin-bottom: 10px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
  
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

hr.my-4 { 
  border-color: $main-color;
  margin-top: 1rem;
}

hr.thick-pink-line {
  border: 1px solid $main-color;
  border-radius: 5px;
}

hr.gray-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px;
  margin: 0px 0px 3px;
}

.left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}