// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap';

body {
    background-color: cornflowerblue;
}

.full-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

button {
    background-color: cornflowerblue;
    color: white;
    &:hover {
        border: 2px solid black;
    }
    &[type="submit"] {
        margin-top: 1em;
    }
}

#log-in-form {
    padding: 2rem;
    padding-top: 0rem;
}

.form-group {
    text-align: left;
}

.card {
    color: cornflowerblue;
}

.btn-group.special {
    display: flex;
    margin-bottom: 16px;
}

.special .btn {
    flex: 1;
    background-color: cornflowerblue;
}

.right-align {
    float: right;
}