<div class="container">
<table class="table table-hover">
              <thead>
                <th scope="col">Review #</th>
                <% if @user.is_instructor %>
                  <th scope="col">Student</th>
                <% end %>
                <th scope="col">Score</th>
                <th scope="col">Feedback</th>
              </thead>
              <tbody>
                <% i=1 %>
                <% @presentation.reviews.each do |review| %>
                  <tr>
                    <th scope="row"> <%=i%> <%i=i+1%></th>
                    <% if @user.is_instructor %>
                      <td scope="col"><%=review.user.name%></td>
                    <% end %>
                    <td><%=review.score%></td>
                    <td><%=review.comment%></td>
                  </tr>
                <%end%>
              </tbody>
            </table>       
</div>
